<div class="col-xs-12">
	<h2 style="margin-left:100px;" class="test">ТЕСТ</h2>
</div>
<div class="col-xs-12 hero-container">
	<div class="hidden">
		<svg id="preloading">
		</svg>
	</div>
	<section>
		<h1 class="title">
			НАСКОЛЬКО ТЫ
			<br/>
			<div id="elastic" style="height:100px;position:relative;">
				<svg version="1.1" viewBox="0 0 1000 500"
				     xmlns="http://www.w3.org/2000/svg" 
				     xmlns:xlink="http://www.w3.org/1999/xlink">
				  <defs>
				       <path id="MyPath" d="M7.5,75 C110,75 90,75 192.5,75 Z" stroke="#2c3e50" stroke-width="0" fill="none">
					    </path>
				  </defs>

				  <use xlink:href="#MyPath" fill="none" stroke="none"  />

				  <text font-family="Roboto" font-weight="100" letter-spacing="8" fill="#2c3e50" font-size="48">
				    <textPath xlink:href="#MyPath">
				          ГИБКИЙ
				    </textPath>
				  </text>
				</svg>
			</div>
			НА РАБОТЕ ?
		</h1>
		<p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
	</section>
</div>
<footer class="text-center">
	{{#link-to 'question' 1 }}
		<p>Пройти тест</p>
		<div class="glyphicon glyphicon-triangle-bottom">
		</div>
	{{/link-to}}
</footer>