<div class="col-xs-12">
	<h2 style="margin-left:100px;" class="test">ТЕСТ</h2>
</div>
<div class="col-xs-12 hero-container">
	<div class="bg"></div>
	<div class="hidden">
		<svg id="preloading">
		</svg>
	</div>
	<section>
		<h1 class="title">
			НАСКОЛЬКО ТЫ
			<br/>
			<div id="elastic" style="height:100px;position:relative;">
			</div>
			НА РАБОТЕ
		</h1>
		<div class="col-xs-12 col-lg-7 col-md-7 col-sm-7" style="padding:0">
			<p>
				Говорят, что на дворе кризис, а значит рабочих мест не так много. Но раз вы читаете этот текст, то значит, что у вас есть время для профориентации, и вы можете позволить себе самоопределение на рабочем месте. Наш тест поможет вам узнать о себе чуть больше и подскажет, над чем вам нужно поработать, чтобы стать еще более успешным.
			</p>
		</div>
	</section>
</div>
<footer class="text-center">
	{{#link-to 'question' 1 }}
		<p>Пройти тест</p>
		<div class="glyphicon glyphicon-triangle-bottom">
		</div>
	{{/link-to}}
</footer>