<div class="col-xs-12">
	<h2 class="test number"><span>1</span></h2>
</div>
<div class="col-xs-12 hero-container">
	<section class="text-center">
	<h3 style="text-transform:uppercase;font-weight:bold;line-height:40px;">
		Руководство компании
		<br/> 
		вводит штрафы за опоздания.
		<br/>
		Ваши идеи:
	</h3>
	</section>
</div>