<div class="bg-video">
    <video id="packshot" autoplay muted>
      <source src="video/Lenovo-Yoga-packshot.mp4" type="video/mp4">
    </video>
    <div class="col-xs-12 text-center resultText">
        <h4 style="color:red;">РЕЗУЛЬТАТ</h4>
        <h2 style="text-transform:uppercase;">ВЫ — {{count.title}}</h2>
        <p>{{count.text}}</p>
        <div class="lenovo-banner">
            <img src="images/Lenovo-Official-Logo.jpg">
        </div>
    </div>
</div>
<div class="col-xs-12 footerCon">
    <footer class="footer">
        <!-- Secondary menu -->
        <nav class="navbar navbar-default navbar-black">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/"></a>
                </div>
                <div class="show-menu">
                    <i class="icon-svg17"></i>
                </div>
                <div class="collapse-block">
                    <ul class="nav navbar-nav">
                        <li><a href="/about">О проекте</a></li>
                        <li><a href="/pr/">Реклама</a></li>
                        <li><a href="mailto:editor@slon.ru">Написать в редакцию</a></li>
                        <li><a href="mailto:support@slon.ru">Техподдержка</a></li>
                        <li><a href="/eula">Пользовательское соглашение</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Copyright -->
        <section class="copyright-container">
            <div class="row">
                <div class="col col-sm-8 col-xs-12">
                    <p>&copy; 2009 &mdash; 2015. Все права защищены.</p>
                    <p>
                        Любое использование материалов допускается только с&nbsp;согласия редакции. Свидетельство о&nbsp;регистрации Эл&nbsp;№ФС77-35629.
                        Выдано&nbsp;Роскомнадзором 17&nbsp;марта&nbsp;2009&nbsp;года.
                    </p>
                    <p class="proofreading-invite">
                        Заметили ошибку? Выделите ее и нажмите <span class="modifier"></span>+Enter
                    </p>
                </div>
                <div class="col col-sm-3 col-sm-offset-1 col-xs-12">
                                </div>
            </div>
            <div class="row">
                <div class="col col-xs-12">
                    <p>
                        Партнер &laquo;Рамблера&raquo; &nbsp;&nbsp;&nbsp; <div id="top100counter"></div>
                    </p>
                </div>
            </div>
        </section>
    </footer>
</div>