*
{
	font-family: Roboto;
	box-sizing:border-box;
	color: #000;
}
body, html
{
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	width: 100%;
	height: 100%;
}
.test
{
	text-align: center;
	font-weight: 300;
	font-size: 14px;
	margin-top: 50px;
	letter-spacing: 100px;
}
.title 
{
	font-size: 74px;
	letter-spacing: 1px;
	line-height: 1.5;
}
.test span 
{
	padding: 10px;
	display: inline-block;
	letter-spacing: 1px;
	color: red;
	font-size: 48px;
}
.test.number
{
	margin-left: 0 !important
}
.title div
{
	font-weight: 100;
	color:#ccc;
}
.hero-container .bg
{
	background: url('/images/bg.png');
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
    left: 10%;
    right: 10%;
    width: 80%;
	max-width: 1200px;
    height: 100%;
}
.hero-container section
{
	width: 600px;
	margin:10px auto;
}

#elastic
{
    -webkit-transition: all 0.7s ease-in;
	-moz-transition: all 0.7s ease-in;
	-o-transition: all 0.7s ease-in;
	transition: all 0.7s ease-in
}
.hidden
{
	display: none;
}
footer.start
{
	position: fixed;
	height: 40px;
	bottom: 20px;
	width: 100%;
	left:0;
	z-index: 100000;
}
#elastic svg
{
	position:absolute;
	bottom: -55px;
	left: -160px;
	height:200px;
	width:500px;
	overflow:visible
}
.canvas,
.canvas > canvas 
{
	position: fixed;
	width: 100%;
	height: 100%;
}
#floatCanvas 
{
	visibility: hidden;
}
.answerBox
{
	height: 130px;
	border: 1px solid #eaeaea;
	padding: 15px 10px;
	cursor: pointer;
  	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in
}
.answerBox span
{
    -webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in
}
.answerBox:hover
{
	background: #3cb878;
	color: #000;
}

.answerBox:hover > img
{
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
}
.answerBox img
{
    width: auto;
    height: 100%;
    text-align: center;
  	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in
}
.resultText p 
{
	max-width: 700px;
	display: inline-block;
	font-size: 13px;
	color:#898788;
}
.resultText h4
{
  margin-top: 50px;
}
.resultText
{
	height: calc(100% - 60px);
}
.bg-video,
.bg-video video
{
	position: absolute;
	width: 100%;
	background: #ccc;
	height: 100%;
	top: 0;
	left: 0;
}
.bg-video video
{
	width: auto;
}
.navbar
{
	z-index: 1000;
}
@media screen and (max-width: 1100px) {
	.bg-video,
	.bg-video video
	{
		left:-40%;
	}
	.hero-container .bg
	{
		margin-top: 60px;
	}
}
@media screen and (max-width: 640px) {
	.bg-video,
	.bg-video video
	{
		left:-30%;
	}
	.title
	{
		font-size: 28px;
		margin-top: 0;
		margin-bottom: 0;
	}
	.hero-container section
	{
		width: 300px;
	}
	.hero-container section p 
	{
		font-size: 11px;
	}
	.test
	{
		margin-left: 40px !important;
		letter-spacing: 60px;
		margin-top: 30px;
	}
	h3 
	{
		font-size: 14px;
		line-height: 20px !important;
		margin-top: -30px;
	}
	.answerBox
	{
		height: 100px;
		border: 1px solid #000;
		padding: 10px 5px;
	}
	body, html
	{
		overflow-y: scroll;
	}
	.hero-container .bg
	{
		margin-top: 90px;
	}
	.test.number
	{
		margin-top:10px;
	}
}